extend ../layout/admin
block css
	link(rel="stylesheet",href="/css/prettify.css")
block script
	script(src="/js/jquery.hotkeys.js")
	script(src="/js/prettify.js")
	script(src="/js/bootstrap-wysiwyg.js")

block content
	