body { padding-top: 70px; }

.content{
	text-indent: 2em;
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 250px;
}
.table-list{
	margin-top: 30px;
}
.footer{
	margin-top: 50px;
}
.notice{
	padding-top: 65px;
}

.notice_content{
	min-height: 300px;
	text-indent: 2em;
}