extend ../layout/layout

block content
	.container
		.row
			.col-md-6.col-md-offset-3.text-center
				hr
		.row.content
			.col-md-6.col-md-offset-3.text-center
				h1 404
				h2 NOT FOUND
				h3 
					a(href="/") 去首页逛一下