doctype
html
	head
		title=title
		meta(charset="utf8")
		script(src="/js/jquery-2.1.1.min.js")
		script(src="/js/bootstrap.min.js")
		script(src="/js/main.js")
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/bootstrap-responsive.min.css")
		link(rel="stylesheet" href="/css/main.css")

		block script
		block css
	body
		.pannel
		block content
		.footer